<!DOCTYPE html>
<html lang="en" ng-app="firstApp">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>AngularJS - 1.5</title>

    <!-- <script src="js/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    <script src="js/app/app.module.js"></script>
    <script src="js/app/app.config.js"></script>
    <script src="js/app/blog-list/blog-list.module.js"></script>
    <script src="js/app/blog-list/blog-list.component.js"></script>

    <style>
        .new-class {
            font-size: 72px;
        }

        .other-class {
            font-size: 30px;
        }
    </style>

</head>

<body>

    <!-- <h1>Hello, {{ name }}!</h1>
    <input type='text' ng-model='name' /> -->

    <!-- Binding Conditionals -->
    <!-- <h1 class='new-class'>Hello,
        <span ng-if='name'>{{ name }}</span>
        <span ng-if='!name'>World</span>
        !
    </h1>
    <input type='text' ng-model='name' /> -->

    <!-- Binding Conditionals: Applying Style Classe if condition is met -->
    <!-- <h1 class='new-class' ng-class="{'other-class': name=='Olive'}">Hello,
            <span ng-if='name'>{{ name }}</span>
            <span ng-if='!name'>World</span>
            !
    </h1>
    <input type='text' ng-model='name' /> -->

    <!-- Controller & Component: html can be added as template to component file -->
    <!-- <div class='' ng-controller='BlogListController'>
        <h1 class='new-class'>{{ title }}</h1>
        <button ng-click='someClickTest()'>Click me!</button>
    </div> -->

    <blog-list></blog-list>
</body>

</html>